# turn on redirection
RewriteEngine on

# non-www redirects to www
RewriteCond %{http_host} ^angusafe.com [nc]
RewriteRule ^(.*)$ http://www.angusafe.com/$1 [L,R=301]

# redirect index.html to its folder
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.angusafe.com/$1 [R=301,L]

# prohibit iframe header
Header append X-FRAME-OPTIONS "SAMEORIGIN"
