---
layout: pages
---
<article>
  <div class="page_nav">
    <ul>
      <li class="{% if page.type-en == 'angusafe' %}active{% endif %}"><a href="{{ site.url }}/angusafe/">安谷</a></li>
      <li class="{% if page.type-en == 'mmmsafe' %}active{% endif %}"><a href="{{ site.url }}/mmmsafe/">猛犸</a></li>
      <li class="{% if page.type-en == 'english' %}active{% endif %}"><a href="{{ site.url }}/english/">Angusafe</a></li>
      <li class="dropdown"><a href="#"><span class="triangle down"></span></a></li>
    </ul>
  </div>
  {{ content }}
  <div class="block h50px"></div>
</article>